@import "./normalize.min.css";
@import "./variables.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  color: var(--color-title)
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusable classes */
.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  box-sizing: border-box;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-6);
  margin-right: var(--mb-6);
}
